@model ApplicationStatusModel

@{
    ViewData["Title"] = "Details of application status";
    Layout = "_Layout";
}

<div>
    <h4>Details of application status</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationStatusName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplicationStatusName)
        </dd>
    </dl>
</div>

<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model!.Id">Edit</a> 
    <a class="btn btn-primary" asp-action="Delete" asp-route-id="@Model!.Id">Delete</a>
    <a class="btn btn-primary" asp-action="List">Back to list</a>
</div>
