<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" asp-area="" asp-controller="CreditApplication" asp-action="Index"><i class="fas fa-university"></i>Credit Applications</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="CreditApplication" asp-action="Index">
                        Main
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Dashboard" asp-action="Index">
                        Dashboard
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="CreditApplication" asp-action="List">Applications</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Customer" asp-action="List">Customers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="ProductType" asp-action="List">Product types</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="ApplicationStatus" asp-action="List">Statuses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Department" asp-action="List">Departments</a>
                </li>
                @*<partial name="_LoginPartial" />*@
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Messages administration</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-controller="Message" asp-action="List">Messages list</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-controller="Message" asp-action="Create">Add new message</a>
                    </div>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-sm-2" type="search" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
