@model IntranetViewModel

@{
    ViewData["Title"] = "Dodaj artykuł";
    Layout = "_Layout";
}

<div>
    <h4>Dodaj artykuł</h4>
    <hr />
    <div class="container-fluid">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group mt-3">
                <label asp-for="ArticleModel.PageId" class="control-label"></label>
                <select asp-for="ArticleModel.PageId" asp-items="Model.SelectLists.AvailablePagesSelectList" class="form-control"></select>
                <span asp-validation-for="ArticleModel.PageId" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <label asp-for="ArticleModel.Title" class="control-label"></label>
                <input asp-for="ArticleModel.Title" class="form-control" />
                <span asp-validation-for="ArticleModel.Title" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <label asp-for="ArticleModel.Body" class="control-label"></label>
                <textarea class="form-control" style="height: 300px" aria-label="Textarea" asp-for="ArticleModel.Body"></textarea>
                <span asp-validation-for="ArticleModel.Body" class="text-danger"></span>
            </div>
            
            <div class="form-group mt-3">
                <label asp-for="ArticleModel.LinkTitle" class="control-label"></label>
                <input asp-for="ArticleModel.LinkTitle" class="form-control" />
                <span asp-validation-for="ArticleModel.LinkTitle" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <label asp-for="ArticleModel.Position" class="control-label"></label>
                <input asp-for="ArticleModel.Position" class="form-control" />
                <span asp-validation-for="ArticleModel.Position" class="text-danger"></span>
            </div>

            <div class="form-group mt-3 mb-1">
                <input type="submit" value="Dodaj" class="btn btn-secondary mt-1 me-1" />
                <a class="btn btn-secondary mt-1 me-1" asp-action="Index">Powrót</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
