@*@model CreditApplicationSystem.ApplicationServices.API.Domain.Models.CreditApplication

@{
    ViewBag.Title = "Credit Application Details";
    Layout = "_Layout";
}

<h3>Credit Application Details</h3>
<hr/>
<partial name="Partials/ApplicationDetailsPartial" model="Model"/>

*@