@model HomePageViewModel
@{
    ViewData["Title"] = "Dashboard";
}
<div class="">
    <p>All credit applications: @Model.ActiveCreditApplicationsNumber</p>
    <p>Customers count: @Model.CustomersCount</p>

    <hr />
    
    <div class="d-inline">
        <a asp-controller="CreditApplications" asp-action="List" class="btn btn-primary">Go to all credit applications list</a>

        <a asp-controller="Dashboard" asp-action="Index" class="btn btn-primary">Go to my credit applications</a>

        <a asp-controller="CreditApplications" asp-action="Index" class="btn btn-primary">Refresh</a>
    </div>
    
</div>
