@model CreditApplications.Web.VewModels.HomePageViewModel
@{
    ViewData["Title"] = "Home";
}
<div class="">
    <p>Credit applications in progress: @Model.ActiveCreditApplicationsNumber</p>
    <a asp-controller="CreditApplications" asp-action="Index" class="btn btn-primary">Refresh</a>
</div>
