@model IntranetViewModel

@{
    ViewData["Title"] = "Create page";
    Layout = "_Layout";
}

<div>
    <h4>Create page</h4>
    <hr />
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            

            <div class="form-group">
                <label asp-for="PageModel.Title" class="control-label"></label>
                <input asp-for="PageModel.Title" class="form-control" />
                <span asp-validation-for="PageModel.Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PageModel.Body" class="control-label"></label>
                <input asp-for="PageModel.Body" class="form-control" />
                <span asp-validation-for="PageModel.Body" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="PageModel.LinkTitle" class="control-label"></label>
                <input asp-for="PageModel.LinkTitle" class="form-control" />
                <span asp-validation-for="PageModel.LinkTitle" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PageModel.Position" class="control-label"></label>
                <input asp-for="PageModel.Position" class="form-control" />
                <span asp-validation-for="PageModel.Position" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input class="btn btn-secondary mt-1 me-1" type="submit" value="Create" />
                <a class="btn btn-secondary mt-1 me-1" asp-action="Index">Back to list</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
