@model CreditApplications.Intranet.ViewModels.HomePageViewModel
@{
    ViewData["Title"] = "Main";
}
<div class="">
    <div>
        @await Html.PartialAsync("Messages", @Model.Messages)
    </div>
</div>
