@model IntranetViewModel
@{
    ViewData["Title"] = @Model.ArticleModel.Title;
}
<div class="container-fluid card border-secondary mt-4" >
    <div class="card-header">@Model.ArticleModel.Title</div>
    <div class="card-body">
        <p class="card-text">@Model.ArticleModel.Body</p>
    </div>
</div>
<br />
<a class="btn btn-secondary mb-1" asp-controller="Intranet" asp-action="List" asp-route-id="@Model.ArticleModel.PageId">Powrót do strony głównej</a>

