@using Microsoft.AspNetCore.Mvc.Rendering
@model CreditApplications.Intranet.ViewModels.IntranetViewModel
@{
    ViewData["Title"] = "Wyszukiwanie";
}
<div class="my-3 ms-3">
    Wyniki wyszukiwania:
</div>
<div>
    @if (Model.Articles.Any())
    {
        @await Html.PartialAsync("ArticleOnPage", @Model.Articles)
    }
    else
    {
        <p class="ms-3 text-danger">Nie znaleziono żadnych artykułów spełniających kryteria wyszukiwania.</p>
    }
</div>
