@model HomePageViewModel
@{
    ViewData["Title"] = "Main";
}
<div class="">
    <hr />
        <div class="d-inline">
            <a asp-controller="CreditApplication" asp-action="List" class="btn btn-primary">Active credit applications: @Model.ActiveCreditApplicationsNumber</a>
            <a asp-controller="CreditApplication" asp-action="List" class="btn btn-primary">Active credit applications: @Model.ActiveCreditApplicationsNumber</a>
            <a asp-controller="Customer" asp-action="List" class="btn btn-primary">Active customers: @Model.CustomersCount</a>
            <a asp-controller="CreditApplication" asp-action="Index" class="btn btn-primary">Refresh</a>
        </div>
    <hr />
    <div>
        @await Html.PartialAsync("Messages", @Model.Messages)
    </div>
</div>
