@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="dropdown text-end">

        <div class="dropdown">
            <button class="btn btn-outline-light me-2 text-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                @UserManager.GetUserName(User).Split('@')[0].Substring(0, 1).ToUpper()@UserManager.GetUserName(User).Split('@')[0].Substring(1).ToLower()
            </button>
            <ul class="dropdown-menu text-small">
                <li>
                    <a class="dropdown-item" id="manage" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Ustawienia użytkownika</a>
                </li>
                <li>
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("List", "Intranet", new { area = "" })">
                        <button id="logout" type="submit" class="dropdown-item">Wyloguj</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
}
else
{
    <a type="button" class="btn btn-outline-warning me-2" id="login" asp-area="Identity" asp-page="/Account/Login">Zaloguj</a>
    <a type="button" class="btn btn-outline-light" id="register" asp-area="Identity" asp-page="/Account/Register">Zarejestruj</a>
}
